.pricing_1-container {
    width: 100%;
    height: auto;
    display: flex;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .pricing_1-image {
    top: 0px;
    right: 0px;
    width: 928px;
    height: 308px;
    opacity: 0.9;
    position: absolute;
    object-fit: cover;
    object-position: right;
    border-bottom-left-radius: 10rem;
  }
  .pricing_1-hero {
    width: 100%;
    display: flex;
    max-width: 1320px;
    align-items: center;
    padding-left: var(--dl-space-space-unitandahalfunit);
    padding-right: var(--dl-space-space-unitandahalfunit);
    flex-direction: column;
  }
  .pricing_1-container01 {
    width: 100%;
    display: flex;
    position: relative;
    max-width: 1320px;
    min-height: 85vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .pricing_1-card {
    flex: 0 0 auto;
    width: 959px;
    display: flex;
    padding: var(--dl-space-space-tripleunit);
    z-index: 1;
    align-self: center;
    box-shadow: 0 8px 26px -4px hsla(0,0%,8%,.15),0 8px 9px -5px hsla(0,0%,8%,.06)!important;
    margin-top: var(--dl-space-space-doubleunit);
    align-items: center;
    border-radius: var(--dl-radius-radius-radius1);
    flex-direction: column;
    backdrop-filter: saturate(200%) blur(30px);
    justify-content: center;
    background-color: hsla(0,0%,100%,.8);
  }
  .pricing_1-container02 {
    flex: 0 0 auto;
    width: 48px;
    height: 48px;
    display: flex;
    position: relative;
    align-items: center;
    border-radius: var(--dl-radius-radius-radius75);
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(310deg,#7928ca,#ff0080);
  }
  .pricing_1-icon {
    fill: #ffffff;
    width: 33px;
    height: 31px;
  }
  .pricing_1-text {
    background-image: linear-gradient(310deg,#7928ca,#ff0080);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .pricing_1-text01 {
    color: rgb(203, 12, 159);
    white-space: normal;
    text-decoration: none;
  }
  .pricing_1-text02 {
    color: var(--dl-color-secondary-600);
  }
  .pricing_1-text03 {
    font-weight: 700;
    white-space: normal;
  }
  .pricing_1-text05 {
    color: rgb(103, 116, 142);
    display: inline;
    font-weight: 400;
    white-space: normal;
  }
  .pricing_1-container03 {
    width: 100%;
    display: flex;
    padding: 48px;
    max-width: 1400px;
    align-items: center;
    background-size: cover;
    justify-content: center;
  }
  .pricing_1-pricing-card {
    width: 100%;
    display: flex;
    padding: 48px;
    max-width: 450px;
    box-shadow: 1px 1px 10px 0px #d4d4d4;
    min-height: 450px;
    transition: 0.3s;
    align-items: flex-start;
    padding-top: 32px;
    margin-right: 32px;
    padding-left: 32px;
    border-radius: var(--dl-radius-radius-radius1);
    padding-right: 32px;
    flex-direction: column;
    padding-bottom: 32px;
    justify-content: space-between;
    list-style-type: disc;
    background-color: var(--dl-color-gray-900);
    list-style-image: none;
    list-style-position: outside;
  }
  .pricing_1-pricing-card:hover {
    transform: scale(1.02);
  }
  .pricing_1-text06 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 32px;
    text-transform: uppercase;
  }
  .pricing_1-container04 {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    flex-direction: row;
  }
  .pricing_1-text07 {
    font-size: 1.15rem;
    margin-top: 32px;
    font-weight: 300;
  }
  .pricing_1-text10 {
    font-size: 4rem;
    font-weight: 700;
  }
  .pricing_1-container05 {
    display: flex;
    align-items: flex-start;
    margin-bottom: 48px;
    flex-direction: column;
  }
  .pricing_1-text11 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .pricing_1-text13 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .pricing_1-text15 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .pricing_1-text17 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .pricing_1-button {
    color: var(--dl-color-gray-white);
    display: flex;
    margin-top: auto;
    transition: 0.3s;
    padding-top: var(--dl-space-space-unit);
    border-color: var(--dl-color-gray-900);
    border-width: 3px;
    padding-left: 32px;
    border-radius: var(--dl-radius-radius-radius1);
    padding-right: 32px;
    padding-bottom: var(--dl-space-space-unit);
    background-color: var(--dl-color-primary-500);
  }
  .pricing_1-button:hover {
    color: var(--dl-color-primary-500);
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    font-style: normal;
    font-weight: 600;
    border-color: var(--dl-color-primary-500);
    border-width: 3px;
    background-color: #ffffff;
  }
  .pricing_1-pricing-card1 {
    width: 100%;
    display: flex;
    padding: 32px;
    max-width: 450px;
    box-shadow: 1px 1px 10px 0px #d4d4d4;
    min-height: 450px;
    transition: 0.3s;
    align-items: flex-start;
    margin-right: 32px;
    border-radius: var(--dl-radius-radius-radius1);
    flex-direction: column;
    background-color: var(--dl-color-gray-900);
  }
  .pricing_1-pricing-card1:hover {
    transform: scale(1.02);
  }
  .pricing_1-text19 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 32px;
    text-transform: uppercase;
  }
  .pricing_1-container06 {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    flex-direction: row;
  }
  .pricing_1-text20 {
    font-size: 1.15rem;
    margin-top: 32px;
    font-weight: 300;
  }
  .pricing_1-text23 {
    font-size: 4rem;
    font-weight: 700;
  }
  .pricing_1-text24 {
    font-size: 1.15rem;
    font-style: normal;
    margin-top: 32px;
    font-weight: 300;
  }
  .pricing_1-text26 {
    color: var(--dl-color-gray-500);
    font-size: 0.75rem;
    margin-bottom: 32px;
  }
  .pricing_1-container07 {
    display: flex;
    align-items: flex-start;
    margin-bottom: 48px;
    flex-direction: column;
  }
  .pricing_1-text29 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .pricing_1-text31 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .pricing_1-text33 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .pricing_1-text35 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .pricing_1-text37 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .pricing_1-button1 {
    color: var(--dl-color-gray-white);
    margin-top: auto;
    transition: 0.3s;
    padding-top: var(--dl-space-space-unit);
    border-color: var(--dl-color-gray-900);
    border-width: 3px;
    padding-left: 32px;
    border-radius: var(--dl-radius-radius-radius1);
    padding-right: 32px;
    padding-bottom: var(--dl-space-space-unit);
    background-color: #f78c3a;
  }
  .pricing_1-button1:hover {
    color: #f78c3a;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    font-style: normal;
    font-weight: 600;
    border-color: #f78c3a;
    border-width: 3px;
    background-color: #ffffff;
  }
  .pricing_1-pricing-card2 {
    width: 100%;
    display: flex;
    padding: 48px;
    max-width: 450px;
    box-shadow: 1px 1px 10px 0px #d4d4d4;
    min-height: 450px;
    transition: 0.3s;
    align-items: flex-start;
    padding-top: 32px;
    padding-left: 32px;
    border-radius: var(--dl-radius-radius-radius1);
    padding-right: 32px;
    flex-direction: column;
    padding-bottom: 32px;
    background-color: var(--dl-color-gray-900);
  }
  .pricing_1-pricing-card2:hover {
    transform: scale(1.02);
  }
  .pricing_1-text39 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 32px;
    text-transform: uppercase;
  }
  .pricing_1-container08 {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    flex-direction: row;
  }
  .pricing_1-text40 {
    font-size: 1.15rem;
    margin-top: 32px;
    font-weight: 300;
  }
  .pricing_1-text43 {
    font-size: 4rem;
    font-weight: 700;
  }
  .pricing_1-text44 {
    font-size: 1.15rem;
    font-style: normal;
    margin-top: 32px;
    font-weight: 300;
  }
  .pricing_1-text46 {
    color: var(--dl-color-gray-500);
    font-size: 0.75rem;
    margin-bottom: 32px;
  }
  .pricing_1-container09 {
    display: flex;
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .pricing_1-text49 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .pricing_1-text51 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .pricing_1-text53 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .pricing_1-text55 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .pricing_1-button2 {
    color: var(--dl-color-gray-white);
    margin-top: auto;
    transition: 0.3s;
    padding-top: var(--dl-space-space-unit);
    border-color: var(--dl-color-gray-900);
    border-width: 3px;
    padding-left: 32px;
    border-radius: var(--dl-radius-radius-radius1);
    padding-right: 32px;
    padding-bottom: var(--dl-space-space-unit);
    background-color: var(--dl-color-secondary-300);
  }
  .pricing_1-button2:hover {
    color: var(--dl-color-secondary-300);
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    font-style: normal;
    font-weight: 600;
    border-color: var(--dl-color-secondary-300);
    border-width: 3px;
    background-color: #ffffff;
  }
  @media(max-width: 991px) {
    .pricing_1-hero {
      padding-left: var(--dl-space-space-tripleunit);
      padding-right: var(--dl-space-space-tripleunit);
    }
    .pricing_1-container01 {
      max-width: 960px;
    }
    .pricing_1-card {
      width: 100%;
    }
    .pricing_1-pricing-card {
      width: 100%;
      padding: 32px;
      max-width: 100%;
      align-items: center;
    }
    .pricing_1-pricing-card1 {
      width: 100%;
      max-width: 100%;
      align-items: center;
    }
    .pricing_1-pricing-card2 {
      width: 100%;
      max-width: 100%;
      align-items: center;
    }
  }
  @media(max-width: 767px) {
    .pricing_1-image {
      display: none;
    }
    .pricing_1-card {
      align-items: center;
    }
    .pricing_1-text04 {
      text-align: center;
    }
    .pricing_1-container03 {
      flex-flow: column;
      padding-left: 32px;
      padding-right: 32px;
    }
    .pricing_1-pricing-card {
      width: 100%;
      max-width: 450px;
      align-items: center;
      margin-right: 0px;
      margin-bottom: 32px;
    }
    .pricing_1-pricing-card1 {
      width: 100%;
      max-width: 450px;
      align-items: center;
      margin-right: 0px;
      margin-bottom: 32px;
    }
    .pricing_1-pricing-card2 {
      width: 100%;
      max-width: 450px;
      align-items: center;
      margin-right: 0px;
      margin-bottom: 32px;
    }
  }
  @media(max-width: 479px) {
    .pricing_1-container01 {
      width: 328px;
    }
    .pricing_1-card {
      width: 310px;
      padding: var(--dl-space-space-unit);
    }
    .pricing_1-text02 {
      text-align: center;
    }
    .pricing_1-text04 {
      text-align: center;
    }
    .pricing_1-container03 {
      padding-top: 32px;
      padding-left: var(--dl-space-space-unit);
      padding-right: var(--dl-space-space-unit);
      padding-bottom: 32px;
    }
    .pricing_1-pricing-card2 {
      margin-bottom: 0px;
    }
  }
  